@model IEnumerable<StatusReports.Models.IndividualStatusReport>

@{
    ViewData["Title"] = "Index";
}

<div class="developerHome">
    @*<button>
        <a href="@Url.Action("Create","IndividualStatus" )">Create New</a>
    </button>*@
    @*
    <p>
        <a asp-action="History">View Submitted</a>
    </p>*@

    @*<table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </table>*@
    <div class="row">
        <div class="col-sm-4 outStandingItems">
            <a href="@Url.Action("Index","IndividualStatus" )">
                Outstanding
            </a>
        </div>
        <div class="col-sm-4 completedItems">
            <a href="@Url.Action("Submitted","IndividualStatus" )">
                Completed
            </a>
        </div>
        <div class="col-sm-4 otherItems">
            <a href="@Url.Action("Approved","IndividualStatus")">
                Approved
            </a>
        </div>
        <ul class="media-list col-sm-12">
            @foreach (var item in Model)
            {
                <a href="@Url.Action("Details","IndividualStatus", new { item.Id })">
                    <li class="media thinBorder" asp-action="Details" asp-route-id="@item.Id">
                        <div class="media-left">
                            <img class="media-object" src="~/images/CareCam.jpg" width="50" height="50" alt="...">
                        </div>
                        <div class="media-body">
                            <p>Item start date</p>
                            <p>@item.Week.EndingDate</p>
                        </div>
                    </li>
                </a>
            }
        </ul>
        
    </div>

</div>
