@model IEnumerable<StatusReports.Models.IndividualStatusReport>

@{
    ViewData["Title"] = "Index";
}

<div class="developerHome">
    <div class="text-right">
        <a class="btn btn-primary" href="@Url.Action("Create","StatusReport" )">New Status Report</a>
    </div>

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#outstandingDiv" aria-controls="home" role="tab" data-toggle="tab">Outstanding Reports</a>
            </li>
            <li role="presentation">
                <a href="#completedDiv" aria-controls="profile" role="tab" data-toggle="tab">Completed Reports</a>
            </li>
            <li role="presentation">
                <a href="#approvedReports" aria-controls="messages" role="tab" data-toggle="tab">Approved Reports</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="outstandingDiv">
                <h3 class="text-center"> Outstanding Status Reports</h3>
                
                @foreach (var item in Model.Where(x => x.Status == StatusCode.Draft))
            {
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <a style="color:white" href="@Url.Action("Edit","StatusReport", new { item.Id })">@($"{item.Project.Client.Name} - {item.Project.Name}")</a>
                        </div>
                        <div class="panel-body">
                            <p>Week Ending Date: @item.Week.EndingDate.ToString("MM/dd/yyyy")</p>
                            <p>Total Hours: @item.IndividualStatusItems?.Sum(c => c.Hours).ToString("#.##")</p>
                        </div>
                    </div>
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="completedDiv">
                <h3 class="text-center"> Completed Status Reports</h3>
                @foreach (var item in Model.Where(x => x.Status == StatusCode.Submitted).Take(8))
            {
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <a style="color:white" href="@Url.Action("Edit","StatusReport", new { item.Id })">@($"{item.Project.Client.Name} - {item.Project.Name}")</a>
                        </div>
                        <div class="panel-body">
                            <p>Week Ending Date: @item.Week.EndingDate.ToString("MM/dd/yyyy")</p>
                            <p>Total Hours: @item.IndividualStatusItems?.Sum(c => c.Hours).ToString("#.##")</p>
                        </div>
                    </div>
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="approvedReports">
                <h3 class="text-center"> Approved Status Reports</h3>
                @foreach (var item in Model.Where(x => x.Status == StatusCode.Approved).Take(8))
            {
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <a style="color:white" href="@Url.Action("Edit","StatusReport", new { item.Id })">@($"{item.Project.Client.Name} - {item.Project.Name}")</a>
                        </div>
                        <div class="panel-body">
                            <p>Week Ending Date: @item.Week.EndingDate.ToString("MM/dd/yyyy")</p>
                            <p>Total Hours: @item.IndividualStatusItems?.Sum(c => c.Hours).ToString("#.##")</p>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>




</div>
